nbproject/
Makefile
dist/
build/
.dep.inc
~$*
*.aux
*.dvi
*.log
*.pdf
!img_*.pdf
*.synctex.gz
*.toc
*.bak
.cproject
.project
.settings
**/.gitignore
.idea
*.txt

*.txt

*.txt

INF2/Labo_05-bastien/CMakeLists.txt
